---
layout: default
---

{% if page.title %}
  <div class="uk-container uk-margin-medium-bottom">
    <hr class="uk-margin-remove-top">
    <h1 class="section-title uk-text-center uk-margin">{{ page.title | escape }}</h1>
    <hr class="uk-margin-remove">
  </div>
{% endif %}

<div class="uk-container uk-container-small uk-margin-medium-bottom">

  {% for post in paginator.posts %}

    {% include content-media-left-1-3.html %}

  {% endfor %}

  {% include paginate-blog.html %}

</div>


{% include section-authors.html title="Chi vi scrive" %}


<!--
{% include section-author.html author="john" title="Hello, I am Jane! Welcome to my blog." %}
-->
