{% if site.social_networks.twitter %}
<div class="uk-first-column">
    <a href="{{ site.social_networks.twitter }}" data-uk-icon="icon: twitter; ratio: {{ include.icon_ratio }}" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
