---
layout: default
---

<div class="uk-container uk-container-xsmall">
    <article class="uk-article uk-margin-medium-bottom">
        {% if page.image %}
        <div class="uk-text-center">
            <img alt="{{ page.display_name | escape }}" class="uk-border-circle avatar uk-width-medium" src="{% if page.image contains 'http' %}{{ page.image }}{% else %}{{ site.uploads | absolute_url }}{{ page.image }}{% endif %}">
        </div>
        {% endif %}
        <h1 class="uk-article-title article-title-font uk-text-center uk-margin-medium-bottom">{{ page.display_name | escape }}</h1>
        {% if page.bio %}
            <div class="uk-text-lead uk-margin-medium-bottom">{{ page.bio }}</div>
        {% endif %}
        <div class="content-primary">
            {{ content }}
        </div>
    </article>
    <div class="social-networks uk-margin-large-bottom">
        <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center data-uk-grid">
            {% if page.twitter %}
            <div class="uk-first-column">
                <a href="{{ page.twitter }}" data-uk-icon="ratio: 1.2; icon: twitter" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.facebook %}
            <div>
                <a href="{{ page.facebook }}" data-uk-icon="ratio: 1.2; icon: facebook" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.flickr %}
            <div>
                <a href="{{ page.flickr }}" data-uk-icon="ratio: 1.2; icon: flickr" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.dribbble %}
            <div>
                <a href="{{ page.dribbble }}" data-uk-icon="ratio: 1.2; icon: dribbble" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.instagram %}
            <div>
                <a href="{{ page.instagram }}" data-uk-icon="ratio: 1.2; icon: instagram" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.reddit %}
            <div>
                <a href="{{ page.reddit }}" data-uk-icon="ratio: 1.2; icon: reddit" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.linkedin %}
            <div>
                <a href="{{ page.linkedin }}" data-uk-icon="ratio: 1.2; icon: linkedin" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.pinterest %}
            <div>
                <a href="{{ page.pinterest }}" data-uk-icon="ratio: 1.2; icon: pinterest" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.vimeo %}
            <div>
                <a href="{{ page.vimeo }}" data-uk-icon="ratio: 1.2; icon: vimeo" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.youtube %}
            <div>
                <a href="{{ page.youtube }}" data-uk-icon="ratio: 1.2; icon: youtube" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.github %}
            <div>
                <a href="{{ page.github }}" data-uk-icon="ratio: 1.2; icon: github" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.email %}
            <div>
                <a href="mailto:{{ page.email }}" data-uk-icon="ratio: 1.2; icon: mail" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
            {% if page.website %}
            <div>
                <a href="{{ page.website }}" data-uk-icon="ratio: 1.2; icon: link" class="uk-icon-link uk-icon" target="_blank"></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="uk-container uk-container-small- uk-margin-medium-bottom">
  <hr class="uk-margin-remove-top">
  <h2 class="section-title uk-text-center uk-margin">{{ page.latest_title | default: 'Latest Articles' }}</h2>
  <hr class="uk-margin-remove">
</div>

<div class="uk-container uk-container-small uk-margin-medium-bottom">

  {% assign posts = site.posts | where: 'author', page.name %}
  {% for post in posts limit: 20 %}

    {% include content-media-left-1-3.html %}

  {% endfor %}

  {% include paginate-blog.html %}

</div>
