<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

    {% include head.html %}

    <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include offcanvas.html %}

    </body>

    {% include netlify-cms-identity.html %}

</html>
